select {
  position: relative;
  margin: 5px auto 54px;
  padding: 12px 11px;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #a39162;
  outline: none;
  appearance: none !important;
  background: #fff url(../img/icon-select.png) no-repeat 97% 50%;
  
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 16px;
    height: 10px;
  }
}

.profile__contacts select {
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
textarea {
  margin-top: 5px;
  padding: 13px 11px;
  display: block;
  width: 100%;
  color: #2f2f2f;
  border: 2px solid #9b895b; 
  outline: none;

  &:hover,
  &:focus {
    border-color: #a39162;
  }
}

.field_with_errors {
  input[type="radio"] + label {
    &::before {
      box-shadow: 0 0 0 2px #ca2222;
    }
    &:hover,
    &:focus {
      &::before {
        box-shadow: 0 0 0 2px #a01c1c;
      }
    }
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  textarea,
  select {
    border-color: #ca2222;

    &:hover,
    &:focus {
      border-color: #a01c1c;
    }
  }
}

input[type="text"]::-webkit-input-placeholder, 
input[type="text"]::-moz-placeholder, 
input[type="text"]:-moz-placeholder, 
input[type="text"]:-ms-input-placeholder, 
input[type="date"]::-webkit-input-placeholder, 
input[type="date"]::-moz-placeholder, 
input[type="date"]:-moz-placeholder, 
input[type="date"]:-ms-input-placeholder, 
input[type="email"]::-webkit-input-placeholder,
input[type="email"]::-moz-placeholder, 
input[type="email"]:-moz-placeholder, 
input[type="email"]:-ms-input-placeholder ,
textarea:-webkit-input-placeholder, 
textarea:-moz-placeholder, 
textarea:-moz-placeholder, 
textarea:-ms-input-placeholder,
select:-webkit-input-placeholder, 
select:-moz-placeholder, 
select:-moz-placeholder, 
select:-ms-input-placeholder{ font-family: "Roboto", "Arial", "Helvetica", "Garuda",  sans-serif; color: #bbb; }

input[type="text"]:focus::-webkit-input-placeholder,  
input[type="text"]:focus::-moz-placeholder, 
input[type="text"]:focus:-moz-placeholder, 
input[type="text"]:focus:-ms-input-placeholder, 
input[type="date"]:focus::-webkit-input-placeholder, 
input[type="date"]:focus::-moz-placeholder, 
input[type="date"]:focus:-moz-placeholder,
input[type="date"]:focus:-ms-input-placeholder, 
input[type="email"]:focus::-webkit-input-placeholder, 
input[type="email"]:focus::-moz-placeholder, 
input[type="email"]:focus:-moz-placeholder, 
input[type="email"]:focus:-ms-input-placeholder, 
input[type="date"]:focus::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator { background: #fff;}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #2f2f2f;
}
input[type="date"]:focus::-webkit-datetime-edit-month-field,
input[type="date"]:focus::-webkit-datetime-edit-day-field,
input[type="date"]:focus::-webkit-datetime-edit-year-field {
  color: #bbb;
}

input[type="date"]::-webkit-datetime-edit-text { 
  padding: 0 0.2em; 
}
input[type="radio"] {
  display: none;
  
  &+ label {
    position: relative;
    padding-left: 22px;
    margin-right: 8px;
    
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 3px solid #fff;
      box-shadow: 0 0 0 2px #9b895b;
      background-color: #fff;
      transform: translateY(-50%);
    }
    
    &:hover {
      &::before {
        box-shadow: 0 0 0 2px #7b6e4e;
      }
    }
    
    
  }
  &:checked {
      &+ label {
        &:before {
          background-color: #454545;
        }
      }    
    }
}