.profile {
  padding: 24px 20px;
  background-color: rgba(250, 250, 250, 0.5);

  &__photo,
  &__fio,
  &__gender,
  &__contacts,
  &__passport,
  &__objective,
  &__link,
  &__download,
  &__send {
    font-size: 0;
    margin: 0 auto 20px;
    width: 280px;

    @media @tablet {
      margin: 0 20px;
      width: auto;
    }
  }
  
  @media @tablet {
    
  }
  
  &__title {
    margin-bottom: 24px;
    font-size: @font-size-min;
    color: #9b895b;
    text-align: center;

    @media @tablet {
      font-size: @font-size-min-tablet;
    }

    @media @desktop {
      float: right;
    }
  }

  &__photo {

    @media @tablet {
      float: left;
      width: 216px;
    }

    @media @desktop {
      clear: right;
      float: left;
      width: 248px;
    }

    img {
      margin-bottom: 17px;
      display: block;
      max-width: 100%;
      width: 280px;
      height: 340px;

      @media @tablet {
        float: left;
        width: 216px;
        height: 260px;
      }

      @media @desktop {
        float: left;
        clear: left;
        width: 248px;
        height: 298px;
      }
    }

    .btn {
      width: 136px;

      &:first-of-type {
        margin-right: 8px;
      }

      @media @tablet {
        width: 100%;
        margin: 0 0 10px;
      }

      @media @desktop {
        width: 100%;
        margin: 0 0 10px;
      }
    }

    @media @tablet {
      float: left;
      width: 216px;
    }
  }

  &__additional {
    &::after {
      content: "";
      display: table;
      clear: both;
    }

    @media @tablet {
      margin-left: 240px;
    }

    @media @desktop {
      float: left;
      margin-left: 55px;
      max-width: 260px;
    }
  }

  &__contacts {

    @media @tablet {

      label {
        float: left;
        width: 50%;

        &:first-child {
          padding-right: 20px;
        }
      }
    }

    @media @desktop {
      float: right;
    }
  }

  &__btn {
    margin-bottom: 10px;
    width: 280px;
    
    &--mobile {
      display: block;
    }
    
    &--desktop {
      display: none;
    }

    @media @tablet {
      width: 100%;
    }
    
    @media @desktop {
      margin-bottom: 49px;
      padding: 30px 200px;
      width: 100%;
      color: #9b895b;
      border: 11px solid #eee;
      background-color: #d8d2c4;
      outline: 1px dashed #9b895b;
      
      &--mobile {
        display: none;
      }
      
      &--desktop,
      &--upload,
      &--choose {
        display: block;
      }
      
      &--choose span {
        border-bottom: 1px dashed;
      }
      
      &:hover {
        border: 11px solid #eee;
        background-color: #d8d2c4;
        outline: 1px dashed #83744b;
      }
    }
  }

  &__send > .btn {
    width: 100%;
  }

  &__passport {
    clear: left;
    width: auto;   
  }

  &__label {
    margin-bottom: 34px;
    display: block;
    width: 100%;
    font-size: 16px;
    text-transform: none;
    color: #847448;
  }

  &__gender header,
  &__passport header {
    margin-bottom: 5px;
  }

  &__gender label,
  &__passport label {
    display: inline-block;
    width: 50px;
  }

  &__passport label {
    margin-bottom: 24px;
  }

  &__passport {
    margin-bottom: 24px;
    border-bottom: 1px solid #bbb;

    @media @desktop {
      border: none;
      clear: left;
      width: auto;
      margin-left: 303px;
    }
  }

  &__objective {
    @media @desktop {
      padding-top: 40px;
      width: 100%;
      max-width: 980px;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;

      &::after {
        content: "";
        display: table;
        clear: both;
      }

      label:first-child {
        margin-right: 3%;
        float: left;
        width: 27%;
      }

      label:nth-child(2) {
        float: right;
        width: 70%;
      }

      label:nth-child(3) {
        clear: both;
      }
    }
  }

  &__link {
    @media @desktop {
      width: 100%;
      max-width: 980px;

      &::after {
        content: "";
        display: table;
        clear: both;
      }

      label {
        float: left;
        width: 50%;
      }
    }
  }

  &__download {
    margin-bottom: 24px;
    border-bottom: 1px solid #bbb;

    @media @desktop {
      max-width: 980px;
      width: 100%;
    }

    input[type="file"] {
      display: none;
    }
  }

  &__gallery {
    font-size: 0;
    
    @media @tablet {
      margin: 0 20px;
    }
    
    figure {
      position: relative;
      z-index: 3;
      margin: 0;
      margin-bottom: 30px;
      display: inline-block;
      width: 100%;
      height: auto;
      vertical-align: top;
      
      img {
        margin-bottom: 10px;
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;
        
        @media @desktop {
          margin-bottom: 0;
        }
      }
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
      }
      
      @media @tablet {
        margin-bottom: 10px;
        margin-right: 8%;
        width: 46%;
        
        margin-bottom: 10px;

        &:nth-child(2n) {
          margin-right: 0;
        }
        
      }

      @media @desktop {
        margin-right: 5%;
        width: 30%;
      
        &:nth-child(2n) {
          margin-right: 5%;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
        
        &:hover {
        &::before {
            display: block;
          }

          .btn {
            display: block;
          }
        }
      }

      .btn {
        width: 136px;
        
        &--delete {
          margin: 0;
          float: right;
          
          @media @tablet {
            width: 100%;
            float: none;
          }

          @media @desktop {
            position: absolute;
            top: 65%;
            left: 50%;
            display: none;
            z-index: 15;
            color: #fff;
            background: transparent;
            transform: translateX(-50%) translateY(-50%);
          }
        }
        
        &--look {
          display: none; 
          
          @media @desktop {
            position: absolute;
            top: 35%;
            left: 50%;
            display: none;
            z-index: 15;
            transform: translateX(-50%) translateY(-50%);
          }
        }        
      }
    }
  }

  &__download {
    margin-bottom: 24px;
    border-bottom: 1px solid #bbb;

    @media @tablet {
      overflow: hidden;
    }
  }

  &__send {
    width: 280px;

    @media @tablet {
      width: auto;
    }
  }
}