.votes {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__count {
    float: left;
    width: 90px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    color: #a39162;

    @media @tablet {
      width: 40%;
      font-size: 24px;
      text-align: left;
    }
    
    span {
      font-size: 28px;
      font-weight: bold;
      
      @media @tablet {
        font-size: 34px;
      }
      
      @media @desktop {
        font-size: 28px;
        text-align: left;
      }
    }
  }

  &--member {
    text-align: right;
    border-bottom: 2px solid #9b895b;
    
    @media @tablet {
      margin: 0;
      clear: both;
      text-align: left;
    }
    
    @media @desktop {
      margin: 0;
      margin-left: 380px;
      text-align: left;
      border-bottom: none;
    }
    
    .votes__count {
      margin-bottom: 30px;
      width: 70%;
      float: right;
      color: #a39162;
      text-align: right;

      span {
        font-size: 34px;
        font-weight: bold;

        @media @desktop {
//          font-size: 40px;
          text-align: left;
        }
      }
      
      @media @tablet {
        width: 40%;
        text-align: right;
      }
      
      @media @desktop {
        width: 120px;
        text-align: right;
      }
    }
  }
  
  &__btn {
    width: 140px;
    font-size: 14px;
    float: right;
    margin-left: 30px;
    margin-top: 5px;

    @media @tablet {
      margin-left: 0;
      width: 194px;
      padding: 10px 5px;
      font-size: 20px;
    }

    @media @desktop {
      margin-left: 0;
      float: right;
    }
  }
  
  &__social {
    margin-left: 20px;
    margin-bottom: 24px;
    float: right;
    display: inline-block;
    font-size: 0;

    @media @tablet {
      float: none;
    }

    @media @desktop {
      float: none;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-right: 14px;
    padding: 18px;
    width: 37px;
    height: 37px;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    border-radius: 50%;
    
    &--vk {
      background: #405e73 url(../img/icon-member-vk.png) no-repeat 50%;
      background-size: cover;
    }
    
    &--fb {
      background: #3d5068 url(../img/icon-member-fb.png) no-repeat 50%;
      background-size: cover;
    }
    
    &--ok {
      background: #a96746 url(../img/icon-member-ok.png) no-repeat 50%;
      background-size: cover;
    }
    
    &--mm {
      width: 43px;
      height: 43px;
      margin-right: 0;
      background: url(../img/icon-m.png) no-repeat 50%;
      background-size: cover;
    }
  }
}